<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventify - Welcome</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>

</head>
<body>
    <!-- Hero Section (Landing Page) -->
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to Eventify</h1>
            
            <div>
                <h1>Event page</h1>

                <form action="/event.html" method="POST" id="eventLinksfrm" name="eventLinksfrm">
                </form>                
            </div>            
        </div>
    </section>
</body>
</html>
